{
    "song_dir": "songs", // Directory to download the songs to
    "song_ext": ".mp3",  // Target song extension. Only tested value currently is .mp3
    "playlist_urls": [
        // Put your playlist urls here
    ]
}
