{
    "song_dir": "songs", // Directory to download the songs to
    "song_ext": ".mp3",  // Target song extensions. Supported values are .mp3
    "DBFS": -20,         // Target normalization DBFS
    "playlist_urls": [
        // Put your playlist urls here
    ]
}
